* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('Images/assets/fundo.png');
}

:root {
  --azul-escuro: #041833;
  --azul-medio: #1875E8;
  --roxo: #9d2b9c;
  --cor-fonte-principal: #041833;
  --cor-fonte-post: #444444;
  --branco: #FFF;
  --preto: #000000
  --fonte-principal: "Cagliostro", sans-serif;
  --fonte-secundaria: "Ubuntu Mono", monospace;
  --fonte-footer: "Raleway", sans-serif;
  --fonte-titulos: "Play", sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}